@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Open Sans', sans-serif;;
}
@layer components{
    .input{
        @apply w-[350px] h-[50px] pl-2 text-xl text-cyan-300 rounded-lg  bg-cyan-500 focus:outline-none focus:outline-4 focus:outline-cyan-700 placeholder-emerald-100 shadow-lg
    }

    .auth-button{
        @apply p-2  text-xl text-emerald-50 rounded-lg bg-cyan-500 shadow-xl font-medium transition-colors duration-300 hover:text-slate-600
    }
    .header-button{
        @apply ml-3 cursor-pointer text-lg font-medium p-2 bg-cyan-400 rounded-xl shadow-md transition-all duration-150 hover:bg-emerald-200 
    }

    .blog-carousel-button{
        @apply p-2 rounded shadow-md text-lg hover:transition-colors duration-300 xl:text-base xl:p-2 
    }
    .blog-button{
        @apply p-2
    }
    .page-id{
        @apply p-1 rounded cursor-pointer transition-colors duration-300 hover:text-white
    }
    .active-page{
        @apply bg-cyan-700
    }
}
#root{
    overflow-y: hidden;
    overflow-x: hidden;
}
/* Scroll */
::-webkit-scrollbar-thumb {
    background: #06b6d4;
    border-radius: 5px;
}
::-webkit-scrollbar {
    width: 12px;
}
